{% extends "base.html" %} {% block content%}

<div class="form">
  <form autocomplete="off" method="post">
    <label for="parent_project">Project</label>
    <select id="parent_project" name="parent_project">
      {% for project in projects %}
        {% if project.title == object.parent_project %}
          <option value="{{ project.title }}" selected="selected">{{ project.title }}</option>
        {% else %}
          <option value="{{ project.title }}">{{ project.title }}</option>
        {% endif %}
      {% endfor %}
    </select>

    <label for="object_type">Type</label>
    <select id="object_type" name="object_type">
      {% for type in ['Project', 'Requirement',  'TestCase', 'Bug'] %}
        {% if type.lower() == object.object_type %}
          <option value="{{ type.lower() }}" selected="selected">{{ type }}</option>
        {% else %}
          <option value="{{ type.lower() }}">{{ type }}</option>
        {% endif %}
      {% endfor %}
    </select>

    <label for="title">Title</label>
    <input type="text" id="title" name="title" value="{{ object.title }}" required>

    <label for="description">Description</label>
    <textarea id="description" name="description">{{ object.description }}</textarea>

    <div class="autocomplete">
      <label for="parent">
        <div class="tooltip">Parent object ?
          <span class="tooltiptext">If you want to leave this field blank declare 'OBJ-0: Template' instead.</span>
        </div>
      </label>
      <input type="text" id="parent" name="parent" value="{{ object.parent }}">
    </div>

    <input id="submit" type="submit" value="Update">
  </form>
</div>


<script>
function autocomplete(inp, arr) {
  var currentFocus;
  inp.addEventListener("input", function(e) {
      var a, b, i, val = this.value;
      closeAllLists();
      if (!val) { return false;}
      currentFocus = -1;
      a = document.createElement("DIV");
      a.setAttribute("id", this.id + "autocomplete-list");
      a.setAttribute("class", "autocomplete-items");
      this.parentNode.appendChild(a);
      for (i = 0; i < arr.length; i++) {
        if (arr[i].toUpperCase().includes(val.toUpperCase())) {
          b = document.createElement("DIV");
          b.innerHTML = arr[i].substr(0, val.length);
          b.innerHTML += arr[i].substr(val.length);
          b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
          b.addEventListener("click", function(e) {
              inp.value = this.getElementsByTagName("input")[0].value;
              closeAllLists();
          });
          a.appendChild(b);
        }
      }
  });
  inp.addEventListener("keydown", function(e) {
      var x = document.getElementById(this.id + "autocomplete-list");
      if (x) x = x.getElementsByTagName("div");
      if (e.keyCode == 40) {
        currentFocus++;
        addActive(x);
      } else if (e.keyCode == 38) {
        currentFocus--;
        addActive(x);
      } else if (e.keyCode == 13) {
        e.preventDefault();
        if (currentFocus > -1) {
          if (x) x[currentFocus].click();
        }
      }
  });
  function addActive(x) {
    if (!x) return false;
    removeActive(x);
    if (currentFocus >= x.length) currentFocus = 0;
    if (currentFocus < 0) currentFocus = (x.length - 1);
    x[currentFocus].classList.add("autocomplete-active");
  }
  function removeActive(x) {
    for (var i = 0; i < x.length; i++) {
      x[i].classList.remove("autocomplete-active");
    }
  }
  function closeAllLists(elmnt) {
    var x = document.getElementsByClassName("autocomplete-items");
    for (var i = 0; i < x.length; i++) {
      if (elmnt != x[i] && elmnt != inp) {
        x[i].parentNode.removeChild(x[i]);
      }
    }
  }
  document.addEventListener("click", function (e) {
      closeAllLists(e.target);
  });
}

var objects = [
  {% for object in objects %}
    "{{object.object_id}}: {{object.title}}",
  {% endfor %}
]
autocomplete(document.getElementById("parent"), objects);
</script>


{% endblock %}