{% extends "base.html" %} {% block content%}
<div class="list_row">
{% for object in all_objects %}
    <button type="button" id="collapsible" class="collapsible">{{ object.object_id }}: {{ object.title }}</button>
    <div class="content">
        <p>{{ object.description }}</p>
        <a href="/edit/{{ object.object_id }}">Edit</a>
        <a class="delete" href="/delete/{{ object.object_id }}">Delete</a>
    </div>
{% endfor %}
    </div>
<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.display === "block") {
          content.style.display = "none";
        } else {
          content.style.display = "block";
        }
      });
    }
</script>

{% endblock %}